.jobs {
    overflow-y: auto;
    font-size: xx-large;
}

.jobs .job {
    overflow-y: auto;
}

.experience {
    padding: 20px 40px;
    width: 100%;
}

.experience .experience-info{
    margin: 0em 4em 1em 0em;
    gap: 2em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    flex-wrap: wrap;

    font-weight: normal;
}

.experience .experience-info .role {
    min-width: none;
}

.experience .experience-info .company {
    justify-self: left;

    font-weight: normal;
    
}

.experience .experience-info .dates {
    color: black;
    font-weight: normal;
}

.experience .job-duties {
    font-weight: normal;
    overflow-y: auto;
    
}

.experience .job-duties li {
    padding: .5em 1em;
    text-wrap: nowrap;
}